/*RESET STYLE*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*END RESET STYLE*/

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  stroke: #000;
  stroke-linecap: round;
  fill: #fff;
  /* fill-opacity: 0.5;
  stroke-opacity: 0.5; */
}

.clock__face {
  stroke-width: 2;
}

.clock__ticks {
  stroke-width: 1;
}

.clock__numbers {
  font-size: 10px;
  font-weight: bolt;
  text-anchor: middle;
  stroke: none;
  fill: #000;
}

.clock__hour-hand {
  stroke-width: 2.5;
}

.clock__minute-hand {
  stroke-width: 1.8;
  /* fill-opacity: 0.5; */
  /* stroke-opacity: 0.8; */
}

.clock__second-hand {
  stroke-width: 1;
  stroke: rgb(168, 7, 7);
}
